{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family : finkheavy;
    src : url(resources/css/finkheavy.ttf);
}

body 
    {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: finkheavy;
        background: #b4e4f3;
        margin-top: 150px;
    }

.test
{   

}

.main
    {
        position: relative;
        width: 1074px;
        height: 565px;
        align-items: center;
        justify-content: center;
        background: #5ACD57;
        border-radius: 45px 45px 45px 45px;
    }

.main button
    {
        padding: 10px 12px;
        margin: 0 10px;
    }

.main #logo
    {
        position: absolute;
        top: 10px;
        left: 30px;
        font-size: 25px;
        color: #ccc;
        text-transform: capitalize;
    }

.main #logo i
    {
        margin-right: 15px;
    }
#track_image
    {
        min-height: 278px;
        margin-left: auto;
        min-width: 278px;
        border-radius:  50%;
        background:  #B4E4F3;
        border: 4px solid #FFCD2B;
        position: absolute;
        margin-left: 127px;
        margin-top: -50px;
    }

.option img
    {
        background: #B4E4F3;
        border: 2px solid #FFCD2B;
        position: relative;
        height: 76px;
        object-fit: contain;
        width: 76px;
        border-radius: 50%;
    }

.option img:hover
    {
        background: linear-gradient(180deg, #B4E4F3 0%, rgba(180, 228, 243, 0) 100%)
    }
.option #rowOne{
    margin-top: 36px;
}
.option #rowTwo{
    margin-top: 10px;
}

.option #one   
    {
        margin-left:  52px;
        position: relative;
    }
.option #two   
    {
        margin-left: 152px;
        position: relative;
    }
.option #three   
    {
        margin-left: 76px;
        position: relative;
    }
.option #four   
    {   
        margin-left: 278px;
        position: relative;
    }

.right
    {

        float: right;
    }
.left{
    float: left;
}

input[type="range"]
    {
        -webkit-appearance: none;
        width:  50%;
        outline: none;
        height: 2px;
        margin: 0 15px;
    }

input[type="range"]::-webkit-slider-thumb
    {
        -webit-appearance: none;
        height: 20px;
        width: 20px;
        background: #8B4513;
        border-radius: 50%;
        cursor: pointer;
    }

.right input[type="range"]
    {
        width: 40%;
    }

.left .volume
    {
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

.left .volume p
    {
        font-size:  15px;
    }

.left .volume i
    {
        cursor: pointer;
        padding: 8px 12px;
        background: #8B4513;
    }

.left .volume i:hover
    {
        background: rgba(245,245,245,0.1);
    }
.volume #volume_show
    {
        padding: 8px 12px;
        margin: 0 5px 0 0;
        background: rgba(245,245,245, 0.1);
    }

.right .middle
    {
        width: 100%;

        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 150px;
    }

.right .middle button
    {    
        border: none;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        transition: 0.5s;
        background: rgba(245,245,245,0.1);        
    }

.label{
    
    color: #FFCD2B;
    width: 370px;
    height: 118px;
    background: #169114;
    border: 4px solid #ffcd2b;
    border-radius: 25px;
    float: right;
    position: absolute;

}

.right #title
    {
        align-items: center;
        text-align: center;
        left: 50%;
        text-transform: capitalize;
        font-size: 45px;
        margin: 0px;
    }

.right #artist
    {
        left: 50%;
        text-transform: capitalize;
        font-size: 24px;
        align-items: center;
        text-align: center;
        margin: 0px;
    }

#play
    {
        background: #8B4513;
    }

.right button:hover
    {
        background: #8B4513;
    }

.right i:before
    {
        color: #fff;
        font-size: 20px;
    }

.right .show_song_no
    {
        font-size: 100px;
        align-items: center;
        text-align: center;
        color: #FFCD2B;
        width: 370px;
        height: 118px;
        background: #169114;
        border: 4px solid #ffcd2b;
        border-radius: 25px;

        margin-top: -190px;
        margin-right: 50px;
    }

